

<html class="no-js" lang="en"><!--<![endif]-->
 
        <div id="content">
          <div class="form-content">
            <div class="row-fluid">
              <div class="container">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Tipo de Motivo </th>
                      <th colspan="3"></th>
                    </tr>
                  </thead>
                   <tbody>
                    <% @motivos.each do |motivo| %>
                      <tr>
                        <td><%= motivo.tipo %></td>
                        <td><%= link_to 'Modificar', edit_motivo_path(motivo),class:'btn btn-success' %></td>
                        <td><%= link_to 'Eliminar', motivo,class:'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
                <%= link_to 'Nuevo', new_motivo_path,class:'btn btn-primary' %>
              </div>
          </div>
        </div>
</html>