

  <div class="border-form-div">
    <h2>¡Atención!</h2>
      
    <p>Se ha enviado un email a su correo institucional con la contraseña.</p>
    <p>Por favor, verifique su correo.</p><br>

    <%= link_to "Continuar", home_index_path, :class=>'btn btn-primario'  %>
  </div> 