

<html class="no-js" lang="en"><!--<![endif]-->
  
  <div class="form-content">
   <div class="row-fluid">
        <div class="container">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Observaciones</th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <% @derivacions.each do |derivacion| %>
                <tr>
                  <td><%= derivacion.observaciones %></td>
                  <td><%= link_to 'Modificar', edit_derivacion_path(derivacion),class:'btn btn-success' %></td>
                  <td><%= link_to 'Eliminar', derivacion,class:'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <br>
        <%= link_to 'Nueva Derivación', new_derivacion_path , class:'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
</html>