<p id="notice"><%= notice %></p>

<p>
  <strong>Observaciones:</strong>
  <%= @derivacion.observaciones %>
</p>

<%= link_to 'Edit', edit_derivacion_path(@derivacion) %> |
<%= link_to 'Back', derivacions_path %>
