<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    
   <h1>Bienvenido, </h1>
    	 <p>
		      
		     Contraseña:<%=@user.password%>
         </p>
    <p>¡Gracias por Registrarse!</p>
  </body>
</html>