/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require fullcalendar
 *= require_tree .
*/
 @import "bootstrap";



body {
  margin: 0;
  color: #303030 !important;
  background-color: #F7F7F7 !important;
  background-image: url("/assets/images/body_bg.jpg") !important;
  background-repeat: repeat !important;
}


/* User sign in and sign forms. */
.border-form-div {
  max-width: 300px;
  position: relative !important;
  top: 115px !important;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.border-form-div .form-signin-heading,
.border-form-div .checkbox {
  margin-bottom: 10px;
}
.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

.btn-danger{
  color: #fff !important;
}

.btn-primario {
    background: #4f2a76;
    color: #fff !important;
    
}

.btn-success{
  color: #fff !important;
}

.btn-secundario{
  color: #fff;
  background-color: #714a84 !important;
  border-color: #4f2a76 !important;
  background-image: linear-gradient(to bottom, #714a84 0%, #53246a 100%) !important;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  color: #fff !important;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-repeat: repeat-x;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 1px rgba(0,0,0,0.075);
}
 
.btn-primario:active, .btn-primario.active {
    background: #4c296d;
    box-shadow: none;
}

.btn-primario-azul {
    background: #337ab7;
    color: #fff !important;
}
 
.btn-primario-azul:active, .btn-primario.active {
    background: #428bca;
    box-shadow: none;
}

.btn-primario-verde {
    background-color: #5cb85c;
    color: #fff !important;
}
 
.btn-primario-verde:active, .btn-primario.active {
    background-color: #4cae4c;
    box-shadow: none;
}


body {
    background-image: url('body_bg.jpg');
    background-repeat: repeat;
    background-color: #FFF;
}


 body {
    font-family: "Open Sans",Arial,sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: #333;
}
* {
    background-repeat: no-repeat;
} 
/* Barra superior de administracion*/
header {
    display: block;
}
#uap_header {
    box-shadow: 0px 0px 9px #999;
    -moz-box-shadow:#999 0px 0px 9px;
  box-shadow:#999 0px 0px 9px
}

.navbar {
    overflow: visible;
    /*margin-bottom: 18px;*/
}

.navbar-fixed-top{
    position: fixed;
    right: 0px;
    left: 0px;
    z-index: 1030;
    margin-bottom: 0px;
    top: 0px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

.navbar-inner {
    min-height: 40px !important;

    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);

   padding-left: 0px;
    padding-left-value: 0px;
    padding-left-ltr-source: physical;
    padding-left-rtl-source: physical;
   padding-right: 0px;
    padding-right-value: 0px;
    padding-right-ltr-source: physical;
    padding-right-rtl-source: physical;
  border-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;

      border-width: 0px 0px 1px;

      background-color: #F3F3F7;
    background-image: linear-gradient(to bottom, #FAFAFE, #EAEAEE);
    background-repeat: repeat-x;
    border: 1px solid #C8C8D3;

  }


.container {
    width: 1170px;
    margin-right: auto;
    margin-right-value: auto;
    margin-right-ltr-source: physical;
    margin-right-rtl-source: physical;
    margin-left: auto;
    margin-left-value: auto;
    margin-left-ltr-source: physical;
    margin-left-rtl-source: physical;
}

#uap_logo {
    margin: 8px;    
    width: 150px;
    height: 34px;
}

.pull-left {
    float: left;
}



/*Barra Inferior Administracion*/
#uap_footer {
    border-top: 1px solid #DDD;
    min-height: 45px;
    background-color: #EEE;
}
.navbar {
    overflow: visible;   
}

.navbar-fixed-bottom {
    position: fixed;
    right: 0px;
    left: 0px;
    z-index: 1030;
    margin-bottom: 0px;
    bottom: 0px;
}

.uap_logo { 
 
    width: 315px;
    height: 25px;
    margin: 0px !important;
}
.pull-right {
    float: right;
}
.copyright {
    margin: 5px 0px;
    color: #AAA;
}
.pull-left {
    float: left;
}
.inner {
    margin: 8px 25px 12px;
}

/*BOTON LOGIN*/

.nav.pull-right {
    float: right;
    margin-right: 0px;
}
.navbar .nav {
    position: relative;
    left: 0px;
    display: block;
    float: right;
    margin: 0px 10px 0px 0px;
}

.btn-toolbar {
    margin: 0px !important;
}

.nav {
    list-style: none outside none;
}

.login_button {
    margin-top: 10px !important;
}
.btn-group {
    position: relative;
    display: inline-block;
    font-size: 0px;
    vertical-align: middle;
    white-space: nowrap;
}


#ini{
  color:white;

}

.btn-primary{
  color: #fff !important;
}

.btn-secondary{
  background-image: linear-gradient(to bottom, #a48239 0%, #8B7134 100%) !important;
  border-color: #785e25 !important;
  height: 34px !important; 
 }

.glyphicon {
    position: relative;
    top: 2px;
    display: inline-block;
    font-family: 'Glyphicons Halflings' !important;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}





.container2{
  width: 750px !important;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px !important;
  padding-rigth: 0px !important;
  box-sizing: border-box;
}

.uap_online_navbar_full .navbar-brand2{
  margin: 0 !important;
  height: 134px !important;
}

.navbar-default .navbar-brand_secundario{
  color: #777;
}

.nav-brand_secundario{
  background-image: url("/assets/images/logo_head.png") !important;
  width: 396px !important;
  height: 134px !important;
  float: left;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  text-shadow: 0 1px 0 rgba(255,255,255,0.25);
  box-sizing: border-box;
}

.uap_online_navbar_full .navbar-brand_secundario img{
  margin: 0;
  float: left;
  height: 96px;
}
.navbar-brand2 > img{
  display: block;
}

img{
  vertical-align: middle;
  border: 0;
  box-sizing: border-box;
}  

.navbar-default .navbar-collpase{
  boder-color: #e7e7e7;
}

.container2 > .navbar-collapse{
  margin-right: 0;
  margin-left: 0;
}

.navbar-fixed-top .navbar-collpase{
  max-height: 340px;
  padding-right: 0;
  padding-left: 0;
}

.navbar-collpase.collapse{
  display: block !important;
  heigh: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
  visibility: visible !important;
}

.navbar-collapse{
  width: auto;
  box-shadow: none;
}

.navbar-right{
  float: right !important;
  margin-right: -15px;
}

.navbar-nav{
  margin: 0px;
}

.nav{
  padding-left: 0;
  list-style: none;
}

.uap_online_navbar_full{
  min-height: 34px;
  height: 134px;
  background: #9f9f9f;
  top: 0;
  border-width: 0 0 1px;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

.navbar-default{
  border-color: #e7e7e7;
}

img.uap_head{
  width: 364px !important;
  height: 96px !important;
}


.border-form-div-corp {
  max-width: 600px;
  position: relative !important;
  top: 30px !important;

  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.border-form-div-corp .form-signin-heading,
.border-form-div-corp .checkbox {
  margin-bottom: 10px;
}

.cont-col-corp
{
  position: relative;
  width: 550px;
  margin: auto 45px;
}

.cont-col-corp input[type="text"]{
  font-size: 16px;
  width: 400px !important;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

.titulo-form-corp{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  font-weight: 500;
  line-height: 1.1;
  color: #2f0556;
  margin: 48px 0 -18px 0;
  font-family: "opensans-regular", "Arial" !important;
  width: 700px;
  margin-right: auto;
  margin-left: auto;
}

.hr_corp{
  color: #856e25;
  background-color: #856e25;
  height: 3px;
  width: 750px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
  box-sizing: content-box;
}

.form-content{
  padding-top: 50px !important;
}

.mensaje-pie-formulario{
  padding-left: 400px;
}





.menu_drop{
  padding-top: 70px;
  padding-right: 50px;
  float: right;
}


.menu_drop ul ul{
  display: none;

}

.menu_drop ul li:hover > ul{
  display: block;
}

.menu_drop ul {
  background: #efefef; 
  background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
  background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 

  padding: 0 20px;
  border-radius: 10px;  
  list-style: none;
  position: relative;
  display: inline-table;
}

.menu_drop ul:after{
  content: "";
  clear: both;
  display: block;
}

.menu_drop ul li {
  float: left;
}

.menu_drop ul li:hover {
  background: #4b545f;
  background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
  background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
  background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
}

.menu_drop ul li:hover a {
  color: #fff;
  background: #4b545f;
}

.menu_drop ul li a {
  display: block; padding: 25px 40px;
  color: #757575; text-decoration: none;
}

.menu_drop ul ul {
  background: #5f6975; border-radius: 0px; padding: 0;
  position: absolute; top: 100%;
}

.menu_drop ul ul li {
  float: none; 
  border-top: 1px solid #6b727c;
  border-bottom: 1px solid #575f6a;
  position: relative;
}

.menu_drop ul ul li a {
  padding: 15px 40px;
  color: #fff;
} 

.menu_drop ul ul li a:hover {
  background: #4b545f;
}