* {
    background-repeat: no-repeat;

}
html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    background-image: url(/assets/uap_uniform/body_bg-c5789cb2f0576cc97bd6b0683151458b.jpg);
    background-repeat: repeat;
    background-color: #fff;
}
body {
    padding-top: 0;
}
body {
    margin: 0;
    font-family: "Open Sans",Arial,sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: #333;
    background-color: #fff;
}
body {
    padding-top: 60px;
}
* {
    background-repeat: no-repeat;
}




